<div class="container">
  <div class="card">
    <div class="header">
      <h1>Bank Contract Project</h1>
      <span>💰</span>
    </div>
    <div class="body">
      <h1>{{ ethereumService.currentBankName }}</h1>

      <div class="form-container">
        <mat-form-field appearance="outline">
          <input
            matInput
            [formControl]="depositControl"
            type="number"
            step="0.0001"
            min="0"
            placeholder="0.0000 ETH"
            autocomplete="off"
          />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="deposit()">
          DEPOSIT MONEY IN ETH
        </button>
      </div>

      <div class="form-container">
        <mat-form-field appearance="outline">
          <input
            matInput
            [formControl]="withdrawControl"
            type="number"
            step="0.0001"
            min="0"
            placeholder="0.0000 ETH"
            autocomplete="off"
          />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="withdraw()">
          WITHDRAW MONEY IN ETH
        </button>
      </div>

      <div class="info">
        <p>
          <strong>Customer Balance:</strong>
          {{ ethereumService.customerTotalBalance }}
        </p>
        <p>
          <strong>Bank Owner Address:</strong>
          {{ ethereumService.bankOwnerAddress }}
        </p>
        <p>
          <strong>Your Wallet Address:</strong>
          {{ ethereumService.customerAddress }}
        </p>
        <div class="wallet" *ngIf="ethereumService.isWalletConnected">
          <span>Wallet Connected 🔒</span>
        </div>
      </div>

      <div class="admin-panel">
        <div class="title">
          <h2>Bank Admin Panel</h2>
        </div>
        <div class="body">
          <div class="form-container">
            <mat-form-field appearance="outline">
              <input
                matInput
                [formControl]="bankNameControl"
                type="text"
                step="0.0001"
                min="0"
                placeholder="Enter a Name for Your Bank"
                autocomplete="off"
              />
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="setBankName()">
              SET BANK NAME
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
