.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #0d172b 0%, #1b2e56 100%);
  min-width: 100vw;
  min-height: 100vh;

  .card {
    width: 90vw;
    max-width: 760px;
    min-height: 85vh;
    background-color: rgb(17, 24, 39);
    border: solid 1px rgba(167, 139, 250, 0.2);
    border-radius: 10px;
    margin: 3.5rem 1rem;

    .header {
      display: flex;
      flex-direction: row;
      padding: 1.25rem 2.5rem;
      border-bottom: solid 1px rgba(167, 139, 250, 0.1);

      h1 {
        font-size: 2.25rem;
        background: -webkit-linear-gradient(60deg, #6366f1, #581c87);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px;
        margin-right: 0.5rem;
      }

      span {
        font-size: 32px;
      }
    }

    .body {
      padding: 1.25rem 2.5rem;

      h1 {
        color: #cbd5e3;
      }

      .form-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5rem;

        .mat-form-field {
          background: rgba(31, 41, 55, 0.9);
          border-radius: 5px 5px 0px 0px;
          color: rgb(205, 190, 250);

          ::ng-deep .mat-form-field-outline {
            color: rgba(167, 139, 250, 0.2);
            border-radius: 5px 5px 0px 0px;
          }

          .mat-input-element::placeholder {
            color: rgba(205, 190, 250, 0.8);
          }

          ::ng-deep .mat-form-field-wrapper {
            padding: 0px;
            margin: 0px;
            border-radius: 5px 5px 0px 0px;
          }

          ::ng-deep .mat-form-field-outline-start {
            border-radius: 5px 0 0 0px !important;
            min-width: 5px !important;
          }

          ::ng-deep .mat-form-field-outline-end {
            border-radius: 0 5px 0px 0 !important;
          }
        }

        button {
          font-family: "Oxygen", sans-serif;
          font-size: 0.875rem;
          line-height: 1.25rem;
          font-weight: 700;
          padding: 1rem;
        }

        ::ng-deep .mat-raised-button {
          border-radius: 0px 0px 5px 5px;
          background-color: rgb(55, 48, 163);
        }
      }

      .info {
        margin-bottom: 2.5rem;

        p {
          font-size: 1rem;
          color: #cbd5e3;
          inline-size: 260px;
          overflow-wrap: break-word;
        }

        .wallet {
          padding: 0.8rem 1.25rem;
          background-color: #6366f1;
          border-radius: 5px;
          max-width: 230px;
          width: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            font-size: 1rem;
            font-weight: 700;
            color: #cbd5e3;
          }
        }
      }

      .admin-panel {
        background-color: rgb(17, 24, 39);
        border: solid 2px rgba(167, 139, 250, 0.5);
        border-radius: 10px;

        .title {
          display: flex;
          flex-direction: row;
          padding: 1.25rem 2.5rem;
          border-bottom: solid 2px rgba(167, 139, 250, 0.5);

          h2 {
            font-size: 1.25rem;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            color: white;
            margin: 0px;
            margin-right: 0.5rem;
          }

          span {
            font-size: 32px;
          }
        }
        .body {
          .form-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 2.5rem;

            .mat-form-field {
              background: rgba(31, 41, 55, 0.9);
              border-radius: 5px 5px 0px 0px;
              color: rgb(205, 190, 250);

              ::ng-deep .mat-form-field-outline {
                color: rgba(167, 139, 250, 0.2);
                border-radius: 5px 5px 0px 0px;
              }

              .mat-input-element::placeholder {
                color: rgba(205, 190, 250, 0.8);
              }

              ::ng-deep .mat-form-field-wrapper {
                padding: 0px;
                margin: 0px;
                border-radius: 5px 5px 0px 0px;
              }

              ::ng-deep .mat-form-field-outline-start {
                border-radius: 5px 0 0 0px !important;
                min-width: 5px !important;
              }

              ::ng-deep .mat-form-field-outline-end {
                border-radius: 0 5px 0px 0 !important;
              }
            }

            button {
              font-family: "Oxygen", sans-serif;
              font-size: 0.875rem;
              line-height: 1.25rem;
              font-weight: 700;
              padding: 1rem;
            }

            ::ng-deep .mat-raised-button {
              border-radius: 0px 0px 5px 5px;
              background-color: rgb(55, 48, 163);
            }
          }
        }
      }
    }
  }
}
